body {
    background-color: rgb(59, 113, 129);
}

#gameName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;

}

#targetScore {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: rgb(150, 226, 231);
    text-align: center;
    padding: 20px;
    background-color: rgb(58, 137, 143);
    width: 360px;
    height: 360px;
    margin: 10px;
    border-radius: 25px;
    float: left;
    position: static;
    z-index: 1;
}

#targetScoreNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250px;
    color: white;
    text-align: center;
    padding: auto;
    width: 360px;
    height: 260px;
    margin: auto;
    float: left;
    position: relative;
    top: 40px;
    z-index: 2;
}

#playerScore {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: rgb(150, 226, 231);
    text-align: center;
    padding: 20px;
    background-color: rgb(58, 137, 143);
    width: 360px;
    height: 360px;
    margin: 10px;
    border-radius: 25px;
    float: left;
    position: static;
    z-index: 1;
}

#playerScoreNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250px;
    color: white;
    text-align: center;
    padding: auto;
    width: 360px;
    height: 260px;
    margin: auto;
    float: left;
    position: relative;
    top: 40px;
    z-index: 2;
}

#gamepieceClick1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(230, 177, 98);
    text-align: center;
    padding: 20px;
    cursor:pointer;
    background-color: rgb(230, 177, 98);
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
    float: left;
    position: relative;
}

#gamepieceClick2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(92, 148, 18);
    text-align: center;
    padding: 20px;
    cursor:pointer;
    background-color: rgb(92, 148, 18);
    width: 150px;
    height: 150px;
    margin: 10px;    
    border-radius: 25px;
    float: left;
    position: relative;
}

#gamepieceClick3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(243, 86, 24);
    text-align: center;
    padding: 20px;
    cursor:pointer;
    background-color: rgb(243, 86, 24);
    width: 150px;
    height: 150px;
    margin: 10px;
    /*clear: left;*/
    border-radius: 25px;
    float: left;
    position: relative;
}

#gamepieceClick4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(31, 21, 173);
    text-align: center;
    padding: 20px;
    cursor:pointer;
    background-color: rgb(31, 21, 173);
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
    float: left;
    position: relative;
}

#gamesWon {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(150, 226, 231);
    text-align: center;
    padding: 20px;
    background-color: rgb(58, 137, 143);
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
    float: left;
    position: relative;
    z-index: 1;
}

#gamesWonNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    color: white;
    text-align: center;
    padding: auto;
    width: 150px;
    height: 150px;
    margin: auto;
    float: left;
    position: relative;
    top: 10px;
    z-index: 2;
}

#gamesLost {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(150, 226, 231);
    text-align: center;
    padding: 20px;
    background-color: rgb(58, 137, 143);
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
    float: left;
    position: relative;
    z-index: 1;
}

#gamesLostNumber {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    color: white;
    text-align: center;
    padding: auto;
    width: 150px;
    height: 150px;
    margin: auto;
    float: left;
    position: relative;
    top: 10px;
    z-index: 2;
}

#gameInstructions {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 32px;
    padding: 20px;
    background-color: rgb(58, 137, 143);
    width: 780px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
    float: left;
    position: relative;
}